<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="row" th:object="${tasks}">
    <div class="col-md-12">
        <table class="table table-hover" th:object="${tasks}">
            <thead>
            <tr class="row">
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Due Date</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr class="row" th:each="task: ${tasks}">
                <td class="block" th:text="${task.title}"></td>
                <td class="block" th:text="${task.description}"></td>
                <td class="block" th:text="${task.dueDate}"></td>
                <td>
                    <a class="btn form-btn btn-edit" th:href="@{'/admin/tasks/edit/' + ${task.id}}">Edit</a>
                    <a class="btn form-btn btn-green" th:href="@{'/admin/payments/activate/' + ${task.id}}">Pay</a>
                    <a class="btn form-btn btn-delete" th:href="@{/admin/tasks/delete/${task.id}}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

