<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>All Tasks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css"
          th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/forms.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/tables.css}">
</head>
<body>
<nav th:include="~{fragments/navbar :: navbar-logged-in}"></nav>
<h1>All tasks</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="modal-form" method="post" th:object="${task}" th:action="@{'/admin/tasks/edit/' + ${taskId}}">
                <fieldset>
                    <div class="row" align="center">
                        <div class="col-md-6 col-xs-6 form-field">
                            <p>Edit task</p>
                            <div class="control">
                                <input type="text" name="title" placeholder="Title" th:field="*{title}" class="form-control"/>
                            </div>
                            <div class="control">
                                <textarea type="text" name="firstName" placeholder="Description" th:field="*{description}" class="form-control"/>
                            </div>
                            <div class="control">
                                <input type="date" name="dueDate" placeholder="Due Date" th:field="*{dueDate}"
                                       th:value="${task.dueDate}" class="form-control"/>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <button class="btn form-btn btn-edit" type="submit">Edit Task</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<footer th:include="~{fragments/footer :: footer}" class="footer-div"></footer>
</body>
</html>