<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<nav class="navbar-light">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav navbar-center">
                <li class="active" data-toggle="collapse">
                    <a id="allTasks" onclick="loadAllTasksInPanel()"><i class="fa fa-th-list"></i>See all tasks</a>
                </li>
                <li class="active" data-toggle="collapse">
                    <a id="allTaskApplications" onclick="loadAllTaskApplications()"><i class="fa fa-th-list"></i>Tasks Applications</a>
                </li>
                <li class="active" data-toggle="collapse">
                    <a id="createTask" onclick="loadCreateTaskForm()"><i class="fa fa-plus"></i>Create a task</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div id="taskPanel" class="dynamicPanel col-md-12 center">
        <div class="row" th:object="${tasks}">
            <div class="col-md-12">
                <table class="table table-hover" th:object="${tasks}">
                    <thead>
                    <tr class="row">
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Assignment Status</th>
                        <th scope="col">Payment Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="row" th:each="task: ${tasks}" th:style="${#dates.createNow() > task.dueDate} ? 'background: lightyellow'">
                        <td class="col-md-2 block" th:text="${task.title}"></td>
                        <td class="col-md-2 block" th:text="${task.description}"></td>
                        <td class="col-md-2 block" th:text="${#dates.format(task.dueDate, 'dd-MM-yyyy')}"></td>
                        <td class="col-md-2 block" th:text="${task.isAssigned() ? 'ASSIGNED' : 'NON-ASSIGNED'}"
                            th:style="${task.isAssigned() ? 'color: forestgreen' : 'red'}"></td>
                        <td class="col-md-2 block" th:text="${task.isPaymentActive() ? 'ACTIVE' : 'INACTIVE'}"
                            th:style="${task.isPaymentActive() ? 'color: forestgreen' : 'red'}" ></td>
                        <td class="col-md-2 block" >
                            <a th:href="@{'/admin/tasks/edit/' + ${task.id}}" class="btn edit-btn form-btn btn-edit">Edit</a>
                            <a th:if="${!task.isPaymentActive()}" class="btn form-btn btn-green" th:href="@{'/admin/payments/activate/' + ${task.id}}">Pay</a>
                            <a class="btn form-btn btn-delete" th:href="@{/admin/tasks/delete/${task.id}}">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <th:block th:each="i: ${#numbers.sequence(0, pagesCount - 1)}">
                        <li class="page-item"><a class="taskPageBtn page-link" ]
                                                 th:onclick="'loadTasksByPage(' + ${i} + ');'"
                                                 th:text="${i + 1}"></a></li>
                    </th:block>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>