<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div th:include="~{fragments/head-elements :: admin-head}"></div>
<body>
    <div id="container row-12">
        <div class="col-md-12">
            <div th:include="~{fragments/navbar :: navbar}"></div>
        </div>
        <div class="col-md-12">
            <div class="row-12">
                <div class="col-md-2">
                    <nav class="collapse navbar-collapse">
                        <ul class="nav" id="admin-panel-controls">
                            <li class="active"><a href="/dashboard">Dashboard</a></li>
                            <li><h1>Admin</h1></li>
                            <li class="active"><a id="applications" onclick="loadUserApplicationsPanel()"><i class="far fa-file-alt"></i>Applications</a></li>
                            <li class="active"><a id="users" onclick="loadUsersPanel()"><i class="fa fa-user"></i>Users</a></li>
                            <li class="active"><a id="tasks" onclick="loadTasksPanel()"><i class="fa fa-tasks"></i>Tasks</a></li>
                            <li class="active"><a id="payments" onclick="loadPaymentsPanel()"><i class="far fa-money-bill-alt"></i>Payments</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Hello, User!<span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a th:href="@{'/profile/' + ${user}}">Profile</a></li>
                                    <li><a href="/logout">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div id="dynamic" class="col-md-10"></div>
            </div>
        </div>
        <div th:include="~{fragments/modal :: modal}"></div>
    </div>
</body>
</html>