<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="base-head">
    <title>Index</title>
    <meta charset="utf-8">
    <meta title="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/js/ajax/user/user-forms.js}"></script>
    <script th:src="@{/js/home.js}"></script>
    <script th:src="@{/js/dashboard.js}"></script>
    <script th:src="@{/js/lib/float-panel.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/profile.js}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/forms.css}">
    <link rel="stylesheet" th:href="@{/css/modals.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/carousel.css}">
    <link rel="stylesheet" th:href="@{/css/buttons.css}">
</head>

<head th:fragment="admin-head">
    <title>Admin</title>
    <meta charset="utf-8">
    <meta title="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" crossorigin="anonymous">
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/admin.js}"></script>
    <script th:src="@{/js/ajax/admin/users-admin-partials.js}"></script>
    <script th:src="@{/js/tasks-search-admin.js}"></script>
    <script th:src="@{/js/ajax/admin/tasks-admin-partials.js}"></script>
    <script th:src="@{/js/ajax/admin/payments-admin-partials.js}"></script>
    <script th:src="@{/js/ajax/admin/task-applications-admin-partials.js}"></script>
    <script th:src="@{/js/ajax/admin/user-applications-partials.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/tables.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/forms.css}">
    <link rel="stylesheet" th:href="@{/css/buttons.css}">
    <link rel="stylesheet" th:href="@{/css/tables.css}"/>
    <link rel="stylesheet" th:href="@{/css/modals.css}">
    <link rel="stylesheet" th:href="@{/css/admin-tasks.css}">
    <link rel="stylesheet" th:href="@{/css/notifications.css}">
    <link rel="stylesheet" th:href="@{/css/admin-dashboard.css}">
</head>