<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="row notification"  th:fragment="info">
    <div class="col-md-2 notification-icon notification-info text-center"><i class="fas fa-info"></i></div>
    <div class="col-md-8 notification-info-body" th:text="${message}"><a href="$" class="mark-read">Mark Read</a></div>
</div>

<div class="row notification"  th:fragment="payment">
    <div class="col-md-2 notification-icon notification-payment text-center"><i class="far fa-money-bill-alt"></i></div>
    <div class="col-md-8 notification-payment-body" th:text="${message}"><a href="$" class="mark-read">Mark Read</a></div>
</div>

<div class="row notification" th:fragment="alert">
    <div class="col-md-2 notification-icon notification-alert text-center"><i class="fas fa-exclamation-triangle"></i></div>
    <div class="col-md-8 notification-alert-body" th:text="${message}"><a href="$" class="mark-read">Mark Read</a></div>
</div>

<div class="row notification" th:fragment="new-task">
    <div class="col-md-2 notification-icon notification-new-task text-center"><i class="fas fa-plus"></i></div>
    <div class="col-md-8 notification-new-task-body" th:text="${message}"><a href="$" class="mark-read">Mark Read</a></div>
</div>

<div class="row notifications" id="notifications" th:fragment="notifications-bar" th:object="${notifications}">
    <div class="notifications-container row-12">
        <div class="row notification mark-all">
            <div class="col-md-6 text-left" ><a href="#" class="text-right">Mark All Read</a></div>
            <div class="col-md-6 text-right"><i class="fas fa-times" id="hideNotificationBar" onclick="hideNotificationBar()"></i></div>
        </div>
        <div class="row" th:each="n : ${notifications}">
            <div th:switch="${n.getType()}">
                <div th:case="'NEW_TASK'" th:include="~{fragments/notifications :: new-task}" th:with="message=${n.getMessage()}"></div>
                <div th:case="'INFO'" th:include="~{fragments/notifications :: info}" th:with="message=${n.getMessage()}"></div>
                <div th:case="'ALERT'"  th:include="~{fragments/notifications :: alert}" th:with="message=${n.getMessage()}"></div>
                <div th:case="'PAYMENT'" th:include="~{fragments/notifications :: payment}" th:with="message=${n.getMessage()}"></div>
            </div>
        </div>
    </div>

</div>