<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="row" id="view-more-dialog" th:object="${userApplication}">
    <div class="col-md-6">
       <p>Basic Info</p>
        <div class="col-md-6">
            <label>First name:</label>
            <p th:text="${userApplication.firstName}"></p>
        </div>
        <div class="col-md-6">
            <label>Last name:</label>
            <p th:text="${userApplication.lastName}"></p>
        </div>
        <div class="col-md-6">
            <label>SoftUni Username:</label>
            <p th:text="${userApplication.username}"></p>
        </div>
        <div class="col-md-6">
            <label>Email:</label>
            <p th:text="${userApplication.email}"></p>
        </div>
    </div>
    <div class="col-md-6">
        <label>Average Grade:</label><p th:text="${averageGrade}"></p>
        <div class="row" th:each="cd: ${coursesDetails}">
            <p th:text="${cd.key}"></p>
            <p th:text="${cd.value}"></p>
        </div>
        <p>Training Info</p>
        <p></p>
    </div>
</div>