<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="row" id="view-more-dialog" th:object="${userApplication}">
    <div class="col-md-6">
       <h1>Basic Info</h1>
        <div class="col-md-6">
            <label>First name:</label>
            <p th:text="${userApplication.firstName}"></p>
        </div>
        <div class="col-md-6">
            <label>Last name:</label>
            <p th:text="${userApplication.lastName}"></p>
        </div>
        <div class="col-md-6">
            <label>SoftUni Username:</label>
            <p th:text="${userApplication.username}"></p>
        </div>
        <div class="col-md-6">
            <label>Email:</label>
            <p th:text="${userApplication.email}"></p>
        </div>
        <div th:if="${userApplication.status == 'WAITING'}" class="col-md-6 center">
            <a class="btn form-btn btn-green" th:href="@{/admin/users/applications/approve(username=${userApplication.getUsername()})}">Approve</a>
            <a class="btn form-btn btn-delete" th:href="@{/admin/users/applications/reject(username=${userApplication.getUsername()})}">Reject</a>
            <a class="btn form-btn btn-edit" id="close-modal-btn" onclick="closeModal()">Close</a>
        </div>
    </div>
    <div class="col-md-6">
        <h1>Training Info</h1>
        <label>Average Grade:</label><b><p th:text="${averageGrade}"></b></p>
        <div class="row" th:each="cd: ${coursesDetails}">
            <p th:text="${cd.courseName} + ' ' + ${cd.grade}">
        </div>
        <p></p>
    </div>
</div>