.btn {
    color: white;
    border-radius: 0px;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    font-weight: inherit;
}

.btn:hover {
    border-radius: 0px;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    font-weight: inherit;
}

.btn-search {
    color: darkblue;
    margin: 5px;
    padding: 5px;
    width: 100px;
    font-size: 20px;
    font-weight: inherit;
}

.btn-search:hover {
    color: orange;
}

.btn-search:hover {
    background-color: #fffffd;
}

.btn-edit {
    background-color: #F3D55A;
}

.btn-edit:hover {
    background-color: #eacb5a;
}

.btn-delete {
    background-color: #d92525;
}

.btn-green {
    background-color: #47d16a;
}

.btn-green:hover {
    background-color: #45bc5e;
}

.btn-delete:hover {
    background-color: #af2121;
}

.btn-grey {
    background-color: #d0d5d8;
}

.btn-grey:hover {
    background-color: #c4c9cc;
}