@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
*{
    font-family: 'Lato', sans-serif;
}

#home-nav{
    background:url(/img/softuni-students.jpg);
    background-size: cover;
    height: 500px;
    z-index:-1;
}

nav {
    margin-top: 15px;
}

.navbar {
    height: 80px;
    background-color: transparent;
    border: none;
    z-index: 100;
    transition: background-color 1s ease 0s;
}

.navbar-nav>li>a{
    color: darkblue;
    font-size: 20pt;
}

.navbar-nav>li>a:hover{
    background: transparent;
    color: #ec971f;
}

.navbar-light {
    background-color: #ffffff;
    width: 100%;
    color:black;
    border-bottom: 2px solid #f32d27;
    border-top: 2px solid #f32d27;
}

.navbar-light a {
    color: black;
    border-bottom: 3px solid transparent;
}

.navbar-light .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

.navbar-inner {
    text-align:center;
}

.fa {
    margin-left: 10px;
    margin-right: 10px;
}

.nav-img {
    width: 200px;
    height: 50px;
}

.modal {
    box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
    border-radius: 0;
    margin: 0 auto;
    top: 20px;
    text-align:center;
}

.modal-form {
    margin: auto;
    width: 80%;
}

.modal-con {
    background: white;
}

.container-dashboard {
    margin-top: 10px;
}
.dashboard-row {
    text-align: center;
    color: white;
}

.img-responsive {
    width: 400px;
    height: 300px;
}

.dashboard-col {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.dashboard-col:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.home-action:hover {
    color: #ec971f;
}

.home-title {
    font-size: 70pt;
    color: rgb(35, 67, 100);
    font-weight: 300;
    font-style: normal;
}

.home-description {
    color: rgb(89, 39, 7);
    font-size: 25pt;
}
#home-softuni-logo{
    margin: 0 auto;
    width: 80em;
}
#internship-flow-img {
    margin: 0 auto;
    width: 120em;
    height: 50em;
}

#wizard {
    width: 500px;
    height: 600px;
}
.img-responsive {
    margin: 0 auto;
}

#skills>li {
    font-size: 25pt;
    color: rgb(35, 67, 100);
    height: 50px;
    margin: 10px 0;
    background: url(/img/softuni-logo-hat.png) no-repeat left center;
    list-style: none;
    padding-left: 70px;
    line-height: 30px;
}

footer {
    background:url(/img/softuni-nakov-inspiration-lab.jpg);
    background-size: cover;
    height: 20em;
}