<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/forms.css}">
</head>
<body>
    <div class="container-fluid">
        <nav class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#">Smth</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin">Admin</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-flag"></i></a></li>
                <li class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Hello, User!<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{'/profile/' + ${user}}">Profile</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="wrapper">
            <div class="row-12">
                <div class="col-md-6 d-main-element">
                    <div class="row-6" th:if="${mostRecentTask == null}">
                        <div class="col-md-12 task-info">
                            <h1>There are currently no active tasks.</h1>
                            <a th:href="@{/tasks/all(user=null, partial=false)}" class="form-btn btn-edit pull-right">See All</a>
                        </div>
                    </div>
                    <div class="row-6" th:if="${mostRecentTask}">
                        <h3>Most recent task</h3>
                        <img src="/img/task.png" class="col-md-3 img-responsive d-icon">
                        <div class="col-md-3 task-info">
                            <h3>Assignment</h3><p th:text="${mostRecentTask.title}"></p>
                            <h4>Due Date</h4><p th:text="${#dates.format(mostRecentTask.dueDate, 'dd-MM-yyyy')}"></p>
                            <a th:href="@{/tasks/all/(user=${user}, partial=false)}">See All</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-main-element">
                    <h3>My payments</h3>
                    <div class="row-md-6 d-main-element">
                        <img src="/img/money-flat.png" class="col-md-3 img-responsive d-icon">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
