<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css"
          th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="../static/css/forms.css">
    <link rel="stylesheet" href="../static/css/dashboard.css">
</head>
<body>
    <div>
        <nav th:include="~{fragments/navbar :: navbar-logged-in}"></nav>
        <h3>Welcome</h3>
        <p>These are all tasks!</p>
        <div class="row" th:object="${tasks}">
            <div th:each="t: ${tasks}" class="col col-md-3">
                <div class="card">
                    <div class="view overlay">
                        <img src="https://www.odoo.com/apps/modules/8.0/project_task_repetition/task_scheduling.png" class="img-thumbnail" alt="">
                        <a href="#">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title" th:text="${t.title}"></h4>
                        <p class="card-text" th:text="${t.description}"></p>
                        <a class="btn form-btn" th:href="@{'/tasks/apply/' + ${t.id}}">Apply</a>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <footer th:include="~{fragments/footer :: footer}" class="footer-div"></footer>
    </div>
</body>
</html>
