<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:include="~{fragments/head-elements :: base-head}"></div>
<body>
<div class="container">
    <div id="header">
        <nav class="header" th:include="~{fragments/navbar :: navbar}"></nav>
    </div>
    <div id="body">
        <div class="row-12">
            <div class="col-md-6"><h1 id="information-text"><b>Oops, something went wrong!</b></h1></div>
            <div class="col-md-6">
                <img src="/img/gifs/kitty-error.gif">
            </div>
            <div class="col-md-12 go-home">
                <div class="arrow bounce"><a class="fa fa-arrow-down fa-2x" href="#"></a></div>
                <div class="center go-home-btn"><a href="/" class="btn btn-edit center">Go Home</a></div>
            </div>
        </div>
        <div th:include="~{fragments/modal :: modal}"></div>
    </div>
</div>
</body>
</html>